html, body {
  padding: 0px;
  margin: 0px;
}
  #topo{
    width: 100%;
    height: 125px;
    background: url("topo.png") repeat;
  }

  #topo2{
    width: 960px;
    height: 125px;
    background: url("editado.png") no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
  #fundinho
  {
    width :990px;
    height:30px;
    background: #004772;
  }
  ul {
    padding: 0;
    margin : 0 0 12px 0 px;
  }
  a, li
  {
    list-style:none;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size : .95em;
    font-weight:bold;
  }
  li
  {
    line-height:18px;
  }
  element.style {
  }
  * {
      margin: 0;
      padding: 0;
      outline: 0;
      list-style: none;
  }
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  user agent stylesheet
  div {
      display: block;
  }
