@charset "utf-8";
/* CSS Document */

/* CSS geral */

/* css tabelas 2014
table, tr, td {
	background: #e6e6e6 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
	text-decoration: none !important;
	border-top:none !important;
	border-bottom: 1px solid #666 !important;
	border-left:none !important;
	border-right: none !important;
	font-size: .9em !important;
}
td > p {
	margin-left: 5px;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
	text-decoration: none !important;
}
 */  
/* css tabelas 2015 */ 
table {
	border: 1px solid #666 !important;
}
tr, td {
	padding: 4px;
	background: #e6e6e6 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#444444 !important;
	text-decoration: none !important;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	font-size: .9em !important;
}
td.final {
	background: #c6c6c6 !important;
}
td > h3 {
	padding: 6px !important;
	display:block;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
}
td > h4 {
	padding: 6px !important;
	display:block;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
}
td > h5 {
	padding: 6px !important;
	display:block;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
}
td > p {
	margin-left: 5px;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#707070 !important;
	text-decoration: none !important;
}
/* css tabelas 2015 */

.cat-list-row0, .cat-list-row1, .list-title, .category, .mceFirst, .mceLast {
	padding: 0 !important;
	background:none!important;
	font-family:Arial, Helvetica, sans-serif;
	color:#707070;
	text-decoration: none!important;
	border-top:none!important;
	border-left:none!important;
	border-right: none!important;
	border-bottom:none!important;
}
.highlight {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000!important;
	font-size:1em!important;
	background:#FF0!important;
	font-weight:bold;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
.escondido {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif!important;
	color:#000000;
	text-decoration: none;
}
h2 {
	padding-top: 10px;
}
p > img {
	padding-top: 10px;
}
p {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:.75em;
	padding-top:5px;
	text-align:left;
	display:block;
}
p > a {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#00F!important;
	font-size:1em;
	padding-top:5px;
	text-align:left;
}
a, a:link, a:visited {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:1em;
}
a > span {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:1.45em;
	text-align:left;
}
span {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:.75em;
	text-align:left;
}
.item-page > p > span > a {
	color: #00f !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	padding-top: 5px;
	text-align: left;
	text-decoration: none;
}
/* menu accordion */
.level1 > a {
	display:block;
	padding: 7px 7px;
	font-size: .7em;
	text-decoration: none;
	color: #707070;
	background:#e6e6e6;
	height: 25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
}
.level1 > a:hover {
	text-decoration:underline;
}
.level2 > a {
	display:block;
	cursor: pointer;
	padding: 15px 15px;
	text-decoration: none;
	font-size: .7em;
	color: #707070;
	background: #e6e6e6;
	height: 20px;
	border:none;
}
.level2 > a:hover {
	text-decoration:underline;
}
.level3 > a {
	display:block;
	cursor: pointer;
	padding: 15px 15px;
	text-decoration: none;
	font-size: .7em;
	color: #707070;
	background: #e6e6e6;
	height: 20px;
	border:none;
}
.level3 > a:hover {
	text-decoration:underline;
}
.level4 > a {
	display:block;
	cursor: pointer;
	padding: 15px 25px;
	text-decoration: none;
	font-size: .7em;
	color: #707070;
	background: #e6e6e6;
	height: 20px;
	border:none;
}
.level4 > a:hover {
	text-decoration:underline;
}
.menu {
	width: 200px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
	float:left;
	background: #e6e6e6;
	position:relative;
	z-index: 2;
	border:none;
}
/* menu accordion */

/* modulo topo  */
div#topo {
	width:100%;
	height:28px;
	background:#004b82;
	margin: 0 auto;
}
div#oficial {
	width:960px;
	height:26px;
	margin:0 auto;
}
ul#topopreto {
	width:960px;
	height:28px;
	margin:0 auto;
	background:url("http://www.cp2.g12.br/images/layout/baseoficial.png") repeat-x;
	overflow:auto;
}
ul#topopreto li#acesso {
	width:155px;
	height:23px;
	margin:4px 0 0 690px;
	float:left;
	overflow:visible;
}
ul#topopreto li#brasil {
	width:105px;
	height:23px;
	margin:4px 0 0 10px;
	float:left;
	overflow:visible;
}
ul#topopreto li#acesso a {
	width:155px;
	height:23px;
	background: url("http://www.cp2.g12.br/images/layout/ainf.png") no-repeat;
	display:block;
	margin: 1px 0 0 0;
}
ul#topopreto li#brasil a {
	width:105px;
	height:23px;
	background: url("http://www.cp2.g12.br/images/layout/logbrasil.png") no-repeat;
	display:block;
	margin: 1px 0 0 0;
}
div#linhaverde {
	width:65%;
	height:1px;
	background:#006b0a;
	float:left;
}
div#linhaamarela {
	width:65%;
	height:1px;
	background:#ffb400;
	float:left;
}
/* modulo topo */

/* header */
div#baseheader {
	/*background: rgba(0, 0, 0, 0) url("../images/layout/baseheader2.png") repeat-x scroll 0 0; /*ATUAL - ESCONDER QUANDO ENTRAR MATERIAL 180ANOS*/
	background: rgba(0, 0, 0, 0) url("../images/layout/baseheader.png") repeat-x scroll 0 0; /*180ANOS */
    height: 125px;
    width: 100%;
}
div#header {
	width: 960px;
	height: 125px;
	/*background:url("../images/layout/header.png") no-repeat; /*ATUAL - ESCONDER QUANDO ENTRAR MATERIAL 180ANOS*/
	background:url("../images/layout/header_180.png") no-repeat; /*180ANOS*/
	margin: auto;
}
div#titulocp2 a {
	width: 300px;
	height: 100px;
	/*background:url("http://www.cp2.g12.br/images/layout/cp2.png") no-repeat;*/
	margin: 25px 0 0 0;
	float:left;
}
div#historia a {
	width: 130px;
	height: 100px;
	/*background:url("http://www.cp2.g12.br/images/layout/cp2.png") no-repeat;*/
	margin: 25px 0 0 0;
	float:left;
}
div#utils {
    float: left;
    height: 125px;
    margin: 0 0 0 100px;
    width: 430px;
}
div#linhautil {
    height: 23px;
    margin: 3px 0 0 5px;
    padding-top: 5px;
    width: 430px;
}
div#date {
    color: #ffffff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    height: 23px;
    line-height: 200%;
    text-align: right;
    text-decoration: none;
    width: 200px;
    margin-right: 20px;
}
div#fontsize {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    float: left;
    height: 23px;
    width: 125px;
}
div#webmail a {
    color: #ffffff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    height: 23px;
    line-height: 200%;
    text-align: right;
    text-decoration: none;
    width: 78px;
}
div#sociais {
    float: left;
    height: 35px;
    margin: 10px 0 0 160px;
    width: 270px;
}
ul li#facebook {
    float: right;
    height: 35px;
    margin: 2px 5px;;
    width: 25px;
}
ul li#facebook a {
    background: rgba(0, 0, 0, 0) url("../images/layout/logo_face.png") no-repeat scroll 0 0;
    display: block;
    height: 25px;
    width: 25px;
}
ul li#twitter {
    float: right;
    height: 35px;
    margin: 2px 5px;;
    width: 25px;
}
ul li#twitter a {
	width:25px;
	height:25px;
	background: url("../images/layout/logo_twitter.png") no-repeat;
	display:block;
}
ul li#linkedin {
    float: right;
    height: 35px;
    margin: 2px 5px;;
    width: 25px;
}
ul li#linkedin a {
	width:25px;
	height:25px;
	background: url("../images/layout/logo_linkedin.png") no-repeat;
	display:block;
}
ul li#youtube {
	width:35px;
	height:35px;
	float:left;
	margin: 5px 0 0 0;
}
ul li#youtube a {
	width:25px;
	height:25px;
	background: url("http://www.cp2.g12.br/images/layout/logo_youtube.png") no-repeat;
	display:block;
}
ul li#ingles {
	width:20px;
	height:20px;
	float:left;
	margin: 15px 0 0 85px;
}
ul li#ingles a {
	width:20px;
	height:13px;
	background: url("http://www.cp2.g12.br/images/layout/flag01.png") no-repeat;
	display:block;
}
ul li#espanhol {
	width:20px;
	height:20px;
	float:left;
	margin: 15px 0 0 10px;
}
ul li#espanhol a {
	width:20px;
	height:13px;
	background: url("http://www.cp2.g12.br/images/layout/flag02.png") no-repeat;
	display:block;
}
ul li#frances {
	width:20px;
	height:20px;
	float:left;
	margin: 15px 0 0 10px;
}
ul li#frances a {
	width:20px;
	height:13px;
	background: url("http://www.cp2.g12.br/images/layout/flag03.png") no-repeat;
	display:block;
}
/* header */

div#container {
    height: auto;
    margin: 0 auto;
    max-width: 960px;
    overflow: auto;
    width: 100%;
}
/* abaesquerda */
div#abaesquerda {
	width: 190px;
	height:auto;
	margin:auto;
	float:left;
}
div#menuesquerdo {
	width: 190px;
	height: auto;
	margin: 15px 0 40px 0;
	float:left;
}
.titulomenu01 {
	width: 190px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #9C3E00;
	margin: 0 auto;
}
.titulomenu01>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #9C3E00;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
.titulomenu02 {
	width: 190px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #06639C;
	margin: 13px 0 0 0;
}
.titulomenu02>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
.titulomenu03 {
	width: 190px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #06639C;
	margin: 15px 0 0 0;
}
.titulomenu03>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: 0 0 0 10px;
}
.item_menu01 {
	width: 190px;
	height: 40px;
	border-top: 1px solid #b3b3b3;
}
.item_menu01 a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu01 a:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu01a {
	width: 190px;
	height: 40px;
	border-top: 1px solid #ffffff;
}
.item_menu01a a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu01a a:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu02 {
	width: 190px;
	height: 50px;
	border-top: 1px solid #b3b3b3;
}
.item_menu02 a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 13px 0 0 0;
	text-align:left;
}
.item_menu02 a:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 13px 0 0 0;
	text-align:left;
}
.item_menu02a {
	width: 190px;
	height: 55px;
	border-top: 1px solid #ffffff;
}
.item_menu02a a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu02a a:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 15px 0 0 0;
	text-align:left;
}
.item_menu03 {
	width: 190px;
	height: 55px;
	border-top: 1px solid #b3b3b3;
}
.item_menu03 a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 6px 0 0 0;
	text-align:left;
}
.item_menu03 a:hover {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #707070;
	font-size: .7em;
	font-weight:bold;
	margin: 6px 0 0 0;
	text-align:left;
}
div#esquerdo2 {
	width: 190px;
	height: 200px;
	margin: 30px 0 0 0;
}
.tituloesquerdo02 {
	width: 190px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #06639C;
	margin: 5px auto auto;
	float:left;
}
.tituloesquerdo02 > p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: 10px 0 0 10px;
	float:left;
}
div#videos > a {
	width: 190px;
	height: 51px;
	margin: 10px 0 0 0;
	background:url("http://www.cp2.g12.br/images/layout/videos.png") no-repeat;
	display: block;
	float:left;
}
div#esquerdo5 {
	width: 190px;
	height: 105px;
	margin: 177px 0 0 0;
	border-top: 4px solid #06639C;
}
div#esquerdo5 > a {
	width: 190px;
	height: 75px;
	display:block;
	margin: 27px 0 0 0;
	background:url("http://www.cp2.g12.br/images/layout/acesso.png") no-repeat;
}
/* abaesquerda */

/* central */
div#corpocentral {
	min-width: 468px;
	max-width: 684px;
	min-height:1250px;
	height:auto;
	margin-left: 13px;
	overflow:hidden;
	float:left;
}
div#titulocentral01 {
	width: 468px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #06639C;
	margin: auto;
	display:block;
	margin: 15px auto auto;
}
div#titulocentral01 > p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: 10px 0 0 10px;
	display:block;
	width: 100px;
	height: 20px;
	float:left;
}
div#central_adm {
	display: none;
}
div#central_last {
	display: none;
}
.blog-featured {
	width: 468px;
	min-width: 468px;
	max-width: 684px;
	height: auto;
	margin: 0 auto;
	float:left;
}
.items-leading {
	width: 468px;
	height:auto;
	margin:auto;
	float:left;
}
.leading-0 {
	width: 220px;
	height: 165px;
	margin: 10px 0 0 2px;
	float:left;
	border-top: 2px solid #06639c;
}
.leading-0>h1 {
	margin: 10px auto auto;
	float:left;
}
.leading-0>h2 {
	margin: 10px auto auto;
	float:left;
}
.leading-0>h3 {
	margin: 10px auto auto;
	float:left;
}
.leading-0>h4 {
	margin: 10px auto auto;
	float:left;
}
.leading-0>h5 {
	margin: 10px auto auto;
	float:left;
}
.leading-1 {
	width: 220px;
	height: 165px;
	margin: 10px 0 0 23px;
	float:left;
	border-top: 2px solid #06639c;
}
.leading-1>h1 {
	margin: 10px auto auto;
	float:left;
}
.leading-1>h2 {
	margin: 10px auto auto;
	float:left;
}
.leading-1>h3 {
	margin: 10px auto auto;
	float:left;
}
.leading-1>h4 {
	margin: 10px auto auto;
	float:left;
}
.leading-1>h5 {
	margin: 10px auto auto;
	float:left;
}
.leading-2 {
	width: 468px;
	height: 45px;
	margin: 20px auto auto;
	float:left;
}
ul#titulocentral02 {
	width: 468px;
	height: 45px;
	background: #e6e6e6;
	border-top: 3px solid #06639C;
	float:left;
}
li#titulocentral02link {
	width: 65px;
	height: 20px;
	margin: 15px 0 0 375px;
	float:left;
}
li#titulocentral02link a {
	width: 65px;
	height: 20px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: auto;
	float:left;
	line-height: 1.5;
}
li#titulocentral02seta {
	width: 20px;
	height: 20px;
	float:left;
	margin: 13px 0 0 0;
}
li#titulocentral02seta a {
	width: 20px;
	height: 20px;
	display:block;
	background:url("http://www.cp2.g12.br/images/layout/seta3.png") no-repeat;
	float:left;
	margin: auto;
}
.leading-3 {
	width: 468px;
	height: 45px;
	margin: 10px auto auto;
	float:left;
}
div#titulocentral03 {
	width: 468px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #195C1E;
	margin: 15px 0 0 0;
	float:left;
}
div#titulocentral03>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #195C1E;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
.leading-4 {
	width: 220px;
/*	height: 200px; DESCOMENTAR AO FIM DO PERÍODO DE ELEIÇÕES */
	margin: 10px 0 0 2px;
	float:left;
	overflow:auto;
}
.leading-4>h1 {
	margin: 10px auto auto;
}
.leading-4>h2 {
	margin: 10px auto auto;
}
.leading-4>h3 {
	margin: 10px auto auto;
}
.leading-4>h4 {
	margin: 10px auto auto;
}
.leading-4>h5 {
	margin: 10px auto auto;
}
.leading-4>p {
	margin: 10px auto auto;
	float:left;
}
.leading-4>p>img {
	float:left;
}
.leading-5 {
	width: 220px;
/*	height: 200px; DESCOMENTAR AO FIM DO PERÍODO DE ELEIÇÕES */
	margin: 10px 0 0 23px;
	float:left;
	overflow:auto;
}
.leading-5>h1 {
	margin: 10px auto auto;
}
.leading-5>h2 {
	margin: 10px auto auto;
}
.leading-5>h3 {
	margin: 10px auto auto;
}
.leading-5>h4 {
	margin: 10px auto auto;
}
.leading-5>h5 {
	margin: 10px auto auto;
}
.leading-5>p {
	margin: 10px auto auto;
	float:left;
}
.leading-5>p>img {
	float:left;
}
.leading-6 {
	width: 220px;
	height: 165px;
	margin: 10px 0 0 2px;
	float:left;
	overflow:auto;
	border-top: 2px solid #047717;
}
.leading-6>h1 {
	margin: 10px auto auto;
}
.leading-6>h2 {
	margin: 10px auto auto;
}
.leading-6>h3 {
	margin: 10px auto auto;
}
.leading-6>h4 {
	margin: 10px auto auto;
}
.leading-6>h5 {
	margin: 10px auto auto;
}
.leading-6>p {
	margin: 10px auto auto;
	float:left;
}
.leading-6>p>img {
	float:left;
}
.leading-7 {
	width: 220px;
	height: 165px;
	margin: 10px 0 0 23px;
	float:left;
	overflow:auto;
	border-top: 2px solid #047717;
}
.leading-7>h1 {
	margin: 10px auto auto;
}
.leading-7>h2 {
	margin: 10px auto auto;
}
.leading-7>h3 {
	margin: 10px auto auto;
}
.leading-7>h4 {
	margin: 10px auto auto;
}
.leading-7>h5 {
	margin: 10px auto auto;
}
.leading-7>p {
	margin: 10px auto auto;
	float:left;
}
.leading-7>p>img {
	float:left;
}
.leading-8 {
	width: 220px;
	height: 40px;
	margin: 10px 0 0 0;
	float:left;
}
div#boxcultural {
	width: 220px;
	height: 40px;
	float:left;
}
div#boxcultural a {
	width: 220px;
	height: 40px;
	display:block;
	background:url("http://www.cp2.g12.br/images/layout/boxcultural.jpg");
	float:left;
}
.leading-9 {
	width: 220px;
	height: 40px;
	margin: 10px 0 0 25px;
	float:left;
}
ul#titulocentral04 {
	width: 220px;
	height: 40px;
	margin: auto;
	float:left;
	overflow:auto;
	background: #e6e6e6;
	border-top: 3px solid #195C1E;
}
/*
li#titulocentral04link {
	width: 65px;
	height: 20px;
	margin: 12px 0 0 125px;
	float:left;
}
li#titulocentral04link a {
	width: 65px;
	height: 20px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #195C1E;
	font-size: .75em;
}
*/
li#titulocentral04link {
    width: 222px;
    height: 38px;
    float: left;
    background: #ddd;
    background: #e6e6e6;
    border-top: 2px solid #195C1E;
}

li#titulocentral04link a {
    width: 222px;
    height: 20px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #195C1E;
    font-size: .75em;
    padding: 10px 0;
    text-align: center;
}
li#titulocentral04seta {
	width: 20px;
	height: 20px;
	float:left;
	margin: 10px 0 0 0;
}
li#titulocentral04seta a {
	width: 20px;
	height: 20px;
	display:block;
	background:url("http://www.cp2.g12.br/images/layout/seta4.png") no-repeat;
	float:left;
	margin: auto;
}
.leading-10 {
	width: 468px;
	height: 60px;
	margin: 15px 0 0 0;
	float:left;
}
.leading-11 {
	width: 468px;
	height: 110px;
	margin: 20px 0 0 0;
	float:left;
}
div#titulocentral05 {
	width: 468px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #666666;
	margin:auto;
	float:left;
}
div#titulocentral05>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666666;
	font-size: .75em;
	margin: 10px 0 0 10px;
	float:left;
}
div#titulocentral06 {
	width: 468px;
	height: 30px;
	margin:auto;
	float:left;
}
ul#links {
	width: 468px;
	height: 30px;
	margin:10px auto auto;
	display:block;
}
ul#links li#linkbrasil {
	width: 30px;
	height: 30px;
	margin: 0 0 0 0;
	float:left;
}
ul#links li#linkbrasil a {
	display:block;
	background: url("http://www.cp2.g12.br/images/layout/logobrazil.png") no-repeat;
	width: 30px;
	height: 30px;
}
ul#links li#transparencia {
	width: 96px;
	height: 30px;
	float:left;
	margin: 0 0 0 30px;
}
ul#links li#transparencia a {
	width: 96px;
	height: 30px;
	background: url("http://www.cp2.g12.br/images/layout/transparencia.png") no-repeat;
	display:block;
}
ul#links li#mec {
	width: 30px;
	height: 30px;
	margin: 0 0 0 30px;
	float:left;
}
ul#links li#mec a {
	width: 30px;
	height: 30px;
	background: url("http://www.cp2.g12.br/images/layout/mec.png") no-repeat;
	display:block;
}
ul#links li#fome {
	width: 60px;
	height: 30px;
	margin: 0 0 0 30px;
	float:left;
}
ul#links li#fome a {
	width: 60px;
	height: 30px;
	background: url("http://www.cp2.g12.br/images/layout/fome.png") no-repeat;
	display:block;
}
ul#links li#pronatec {
	width: 60px;
	height: 30px;
	margin: 0 0 0 30px;
	float:left;
}
ul#links li#pronatec a {
	width: 60px;
	height: 30px;
	background: url("http://www.cp2.g12.br/images/layout/pronatec.png") no-repeat;
	display:block;
}
ul#links li#capes {
	width: 30px;
	height: 30px;
	margin: 0 0 0 30px;
	float:left;
}
ul#links li#capes a {
	width: 30px;
	height: 30px;
	background: url("http://www.cp2.g12.br/images/layout/capes.png") no-repeat;
	display:block;
}
/* abadireita */
div#abadireita {
	max-width: 270px;
	min-width: 1px;
	height:auto;
	margin-left: 15px;
	float:left;
	overflow:auto;
}
div#abadireita > ul > li > a {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	font-size: .75em;
	display:block;
	margin: 10px 0 0 0;
}
.latestnews {
	width: 270px;
	height: 195px;
	margin: auto;
	overflow:auto;
}
.latestnews>li {
	width: 225px;
	margin: 12px 0 0 15px;
}
.titulolateral01 {
	width: 270px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #9F6A05;
	margin: 15px 0 0 0;
}
.titulolateral01>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #9F6A05;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
div#conteudo_direito1 {
	width: 270px;
	height: 185px;
	background: #cccccc;
	margin: 10px 0 0 0;
	overflow:auto;
}
ul#tituloconteudo_direito1 {
	width: 270px;
	height: 40px;
	background: #e6e6e6;
	border-top: 3px solid #9F6A05;
	margin: 15px 0 0 0;
}
li#tituloconteudo_direito1link {
	width: 70px;
	height: 20px;
	margin: 12px 0 0 170px;
	float:left;
}
li#tituloconteudo_direito1link a {
	width: 70px;
	height: 20px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #9F6A05;
	font-size: .75em;
	margin: auto;
}
li#tituloconteudo_direito1seta {
	width: 20px;
	height: 20px;
	float:left;
	margin: 10px 0 0 0;
}
li#tituloconteudo_direito1seta a {
	width: 20px;
	height: 20px;
	display:block;
	background:url("http://www.cp2.g12.br/images/layout/seta5.png") no-repeat;
	margin: auto;
}
div#direita2 {
	width: 270px;
	height: 290px;
	margin: auto;
	float:left;
}
.titulolateral02 {
	width: 270px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #06639C;
	margin: 20px 0 0px 0;
}
.titulolateral02>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #06639C;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
div#direita3 {
	width: 270px;
	height: 220px;
	margin: auto;
}
.titulolateral03 {
	width: 270px;
	height: 45px;
	background: #e6e6e6;
	border-top: 4px solid #9D0800;
	margin: 5px auto auto;
}
.titulolateral03>p {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #9D0800;
	font-size: .75em;
	margin: 10px 0 0 10px;
}
div#conteudo_direito3 {
	width: 270px;
	height: 152px;
	margin: 10px 0 0 0;
	background: #e6e6e6;
}
div#direita4 {
	width: 270px;
	height: 340px;
	margin: 10px 0 0 0;
	background: #cccccc;
}
div#direita5 {
	width: 270px;
	height: 40px;
	margin: 300px 0 0 0;
}
div#direita5>a.ancora {
	display:block;
	font-family:"Open Sans";
	text-decoration: none;
	color:#666;
	font-size: .75em;
	margin: 0 0 0 130px;
}
/* abadireita */

div#itembanner {
	display:block;
	width: 190px;
	height: 115px;
	border-top: 4px solid #06639C;
	float:left;
	margin: 13px auto auto;
}
ul#banner {
	width: 190px;
	height: 105px;
	margin:auto;
	display:block;
	float:left;
}
ul li#acessoinformacao {
    display: block;
    float: right;
    height: 50px;
    margin: 10px auto auto;
    width: 80px;
}
ul li#acessoinformacao a {
    background: rgba(0, 0, 0, 0) url("../images/acesso-a-informacao.png") no-repeat scroll 0 0;
    display: block;
    float: right;
    height: 50px;
    margin-left: 20px;
    width: 120px;
}
ul li#centoecinco {
	background:url("http://www.cp2.g12.br/images/layout/marca105_anos.jpg") no-repeat;
	display:block;
	width: 80px;
	height: 95px;
	margin: 10px auto auto;
	float:left;
}
ul li#dezanosrede {
    display: block;
    float: right;
    height: 40px;
    margin: 10px auto auto;
    width: 190px;
    background: url("../images/10anosrede.png") no-repeat scroll 0 0;
}
/* mapa */
div#basemapasite {
	width: 100%;
	background:#004b82;
	float:left;
	height: 500px;
}
/*div#mapasite { width: 960px; height: 405px; background:url("http://www.cp2.g12.br/images/layout/mapasite.png") no-repeat; margin: auto;  }*/

div#mapasite {
	width: 960px;
	height: 405px;
	margin: auto;
}

div#mapa01,
div#mapa02,
div#mapa03,
div#mapa04,
div#mapa05 {
	width: 152px;
	padding: 20px;
	float:left;
}
.footer {
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration: none;
	text-align:left;
}
h3.mapa {
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration: none;
	text-align:left;
	line-height: 120%;
	margin-bottom: 10px;
}
h3.mapa>a {
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration: none;
	text-align:left;
	line-height: 120%;
}
ul li.mapa {
	margin-bottom: 12px;
	line-height: 100%;
	display: block;
}
ul li.mapa>a {
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration: none;
	text-align:left;
	font-size:.75em;
	display: block;
}
ul li.mapa>a:hover {
	text-decoration:underline;
}
#ouvidoria h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration: none;
	text-align:left;
	margin-top: 50px;
}
#ouvidoria a {
	color:#fff;
}
#concursos h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration: none;
	text-align:left;
	margin-top: 50px;
}
#concursos a {
	color:#fff;
}
/* mapa */


/* rodape */
div#basefooter {
    background: #003150 none repeat scroll 0 0;
    float: left;
    height: 120px;
    width: 100%;
}
div#footer {
    background: #003150 none repeat scroll 0 0;
    height: 120px;
    margin: auto;
    width: 960px;
}
div#logofooter {
    float: left;
    height: 80px;
    margin: 22px 0 0 5px;
    width: 80px;
}
div#txtfooter01 {
    float: left;
    height: 70px;
    margin: 25px 0 0 20px;
    width: 280px;
}
div#txtfooter02 {
    float: right;
    height: 120px;
    margin: 0 0 0 120px;
    width: 320px;
}
div#txtfooter03 {
    float: right;
    height: 70px;
    margin: 25px 0 0 0;
    width: 135px;
}
div#acessofooter {
    float: left;
    height: 65px;
    margin-top : 25px;
    width: 160px;
}
div#basefinal {
    background: #b3b3b3 none repeat scroll 0 0;
    float: left;
    height: 40px;
    width: 100%;
}
div#final {
	width:960px;
	height: 40px;
	background:#b3b3b3;
	margin:auto;
}
ul li#rederio {
	width:40px;
	height:20px;
	margin: 10px 0 0 5px;
	float:left;
}
ul li#rnp {
	width:45px;
	height:20px;
	margin: 10px;
	float:left;
}
ul li#rederio a {
	width:40px;
	height:20px;
	background: url("http://www.cp2.g12.br/images/layout/logo_rederio.png") no-repeat;
	display:block;
}
ul li#rnp a {
	background: url("http://www.cp2.g12.br/images/layout/rnpmission.png") no-repeat;
	width:45px;
	height:20px;
	margin: 0 0 0 15px;
	display:block;
}
/* rodape */

/* search */

div#busca {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    height: 35px;
    margin: 10px 0 0 160px;
    width: 270px;
}
.search {
    float: right;
    margin: 0 auto;
    max-width: 100%;
    min-width: 465px;
    overflow: hidden;
}
label {
    display: none;
}
fieldset {
    border: medium none;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    text-decoration: none;
    width: 100%;
}
.list-title {
    color: #000000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    margin: 10px 0 0;
    text-decoration: none;
}
input#mod-search-searchword {
    background: #e6e6e6 none repeat scroll 0 0;
    border: medium none;
    float: right;
    height: 25px;
    margin: 5px 40px 0 5px;
    width: 225px;
}
input.button {
    float: left;
    height: 25px;
    margin: -25px 0 0 430px;
    width: 30px;
}
#line .search {
    float: right;
    margin: 16px 3px 0 0;
    width: 300px;
}
.searchintro img {
    border: medium none;
}
.word {
    background: #fff none repeat scroll 0 0;
}
.word input {
    background: #fff none repeat scroll 0 0;
    color: #444;
}
.only > label {
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    margin: 0 0 0 5px;
    text-decoration: none;
}
.only > input {
    display: block;
    float: left;
    margin: 0 0 0 15px;
}
.phrases {
    display: block;
}
.phrases-box > label {
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    margin: 0 0 0 5px;
    text-decoration: none;
}
.phrases-box > input {
    display: block;
    float: left;
    margin: 0 0 0 15px;
}
.ordering-box > label {
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    margin: 0 0 0 15px;
    text-decoration: none;
}
.ordering-box > input {
    display: block;
    float: left;
    margin: 0 0 0 15px;
}
/*  selects  */
.phrases .inputbox {
    background: #fff none repeat scroll 0 0;
    color: #999;
}
.phrases .inputbox option {
    background: #f5f5f5 none repeat scroll 0 0;
}
.phrases .inputbox option a:hover {
    background: #c00 none repeat scroll 0 0;
    color: #fff;
}
.result-title {
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    margin: 20px 0 0;
    max-width: 750px;
    min-width: 465px;
    text-decoration: none;
}
.result-text {
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    max-width: 750px;
    min-width: 465px;
    text-decoration: none;
}
.result-category {
	float:left;
	display:block;
}
.search-results {
	min-width: 465px;
	max-width: 750px;
	float:left;
	display:block;
}
span.small {
	display:none;
}
.result-created {
	display:none;
}
*/ /*  pagination  */
div.pagination {
width: 750px;
height: 100px;
display:block;
margin: auto;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
text-decoration: none;
list-style:none;
font-size: .85em;
float:left;
}
div.pagination > ul {
	width: 750px;
	display:block;
	float: left;
	margin: 25px 0 15px 0;
}
div.pagination > ul > li {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: .85em !important;
	color:#000000;
	text-decoration: none;
	list-style:none;
	float:left;
	margin: 0 0 0 10px;
}
p.counter {
	width: 750px;
	height: 20px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	list-style:none;
	font-weight:bold;
	font-size: .85em;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 10px;
}
li.pagination-start {
	width:auto;
	height: 10px;
	float:left;
	display:block;
}
li.pagination-prev {
	width:auto;
	height: 10px;
	margin-left: 15px;
	float:left;
	display:block;
}
li.pagination-next {
	width:auto;
	height: 10px;
	margin-left: 15px;
	float:left;
	display:block;
}
li > span.pagenav {
	margin-left: 15px;
	float:left;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	list-style:none;
	font-size: .85em !important;
	text-align:center;
}
li > a.pagenav {
	margin-left: 15px;
	float:left;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	list-style:none;
	font-size: .85em !important;
	text-align:center;
}
li.pagination-end {
	width:auto;
	height: 10px;
	margin-left: 15px;
	float:left;
	display:block;
}
.list-title {
	display:block;
	height: 20px;
	padding-top: 5px;
}
.list-title a {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	list-style:none;
	float:left;
	font-size: 1em;
}
div#article-index {
	width: 460px;
	height: 50px;
	margin-top: 10px;
}
.toclink {
	display:block;
	font-size: .85em !important;
	margin-left: 10px;
	float:left;
}
.pagenavcounter {
	display:none;
}
/* contato */
.contact > h3 {
	display:none;
}
.contact-contactinfo > h3 {
	display:none;
}
.contact-form {
	display:block;
	margin: 0 0 0 10px;
	float:left;
}
fieldset > legend {
	display:block;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#707070;
	text-decoration: none;
	list-style:none;
	float:left;
	font-size: .8em;
	font-weight:bold;
}
dt > label {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#707070;
	text-decoration: none;
	list-style:none;
	float:left;
	font-size: .8em;
	font-weight:bold;
}
dd > input#jform_contact_name {
	margin: 0 0 0 25px;
}
dd > input#jform_contact_email {
	margin: 0 0 0 22px;
}
dd > input#jform_contact_emailmsg {
	margin: 0 0 0 12px;
}
dd > jform_contact_email_copy {
	margin: 0 0 0 10px;
}
/* contato */

/* css plugins Joomla */
#toTop {
	text-transform:uppercase!important;
	font-family:Arial, Helvetica, sans-serif!important;
	font-weight:bold!important;
}
.item-page {
	min-width: 468px;
	max-width: 758px;
	height:auto;
	min-height: 600px;
	margin: auto;
	padding-top: 10px;
	float:left;
}
.item-separator {
	margin: auto;
	float:left;
}
div#contador {
	width: 250px;
	height: 20px;
	margin: 12px 0 0 470px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	font-size: .75em;
	float:left;
}
.bt-cs .bt-inner {
	position:relative!important;
	z-index: 1!important;
}
.bt_handles_num {
	position:relative!important;
	z-index: 1!important;
}
ul.b2jsocial > li {
	float: left!important;
	display:block!important;
}
.b2jsocial_parent {
	display:block!important;
	width: 90px!important;
	float:right!important;
	margin:9px auto auto!important;
}
.ext_simple_slide {
	margin: 15px auto auto!important;
	float:left!important;
}
.mod_ext_simple_slide {
	margin: 15px auto auto!important;
	float:left!important;
}
div#dm_tabs_1 {
	margin: 15px auto auto!important;
}
ul.actions {
	width: 100%;
	height: 10px;
	display:block;
	float:left;
	margin: 10px 0 10px 0;
	list-style:none;
}
li.print-icon {
	width: 10px;
	height: 10px;
	display:block;
	float:left;
	margin: 0 0 0 710px;
}
li.print-icon a {
	width: 10px;
	height: 10px;
	float:left;
}
li.email-icon {
	width: 10px;
	height: 10px;
	display:block;
	float:left;
	margin: 0 0 0 15px;
}
li.email-icon a {
	width: 10px;
	height: 10px;
	float:left;
}
dl.article-info {
	display:block;
	width: 350px;
	height: auto;
	margin: 15px 0 15px 0;
	float:right!important;
}
dt.article-info-term {
	display:none;
}
dd.create {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	font-size: .75em;
}
dd.published {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration: none;
	font-size: .75em;
	text-align:right;
}
ul.b2jsocial > li > a {
	float:left;
}

/* css plugins Joomla */

/* contador-regressivo */

#contador-regressivo h1 {
  color: #efba40;
  font-size: 10.5px;
  line-height: 10.5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 8px;
} 
#contador-regressivo h2 {
  color: #efba40;
  font-weight: 300;
  font-size: 34px;
  margin: 0;
  padding: 0;
  letter-spacing: -2px;
  line-height: 34px;
}
#contador-regressivo h3 {
  color: #004b82;
  width: 90px;
  margin: 5px auto 0;
  border-radius: 5px 5px 0 0;
  background-color: #efba40;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 5px 0 2px 0;
} 
#contador-regressivo p {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
#contador-regressivo{
    width: 280px;
    padding: 0 20px;
}
.hide {
  opacity: 0;
  display: none;
}
#contador-regressivo .box {
  width: 280px;
  height: 86px;
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  float: left;
  text-align: center;
  background-color: #004b82;
}
#contador-regressivo .col{
  width: 68px;
  float: left;
  margin: 5px 0 8px;
}
