@charset "utf-8";
/* CSS Document */

/* menu superior */

.escondido { display: none; }

div#basemenusuperior { width: 100%; height: 36px; background:url("../images/basemenu.png") repeat-x; position:relative; /*z-index:100;*/  }

div#smoothmenu1.ddsmoothmenu { width:960px; height:35px; margin:auto; z-index:2; }

.ddsmoothmenu ul{ z-index:1; margin:auto; padding: 0; list-style-type: none; float:left; }

/*Top level list items*/
.ddsmoothmenu ul li { position: relative; float: left; z-index:1; }

/*Top level menu link items style*/
.ddsmoothmenu ul li.raiz01 { width: 172px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz01 a { display:block; width: 172px; height: 36px; background: url("../images/item01.png") no-repeat; }

.ddsmoothmenu ul li.raiz02 { width: 80px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz02 a { display:block; width: 80px; height: 36px; background: url("../images/item02.png") no-repeat; }

.ddsmoothmenu ul li.raiz03 { width: 118px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz03 a { display:block; width: 118px; height: 36px; background: url("../images/item03.png") no-repeat; }

.ddsmoothmenu ul li.raiz04 { width: 143px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz04 a { display:block; width: 143px; height: 36px; background: url("../images/item04.png") no-repeat; }

.ddsmoothmenu ul li.raiz05 { width: 108px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz05 a { display:block; width: 108px; height: 36px; background: url("../images/item05.png") no-repeat; }

.ddsmoothmenu ul li.raiz06 { width: 113px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz06 a { display:block; width: 113px; height: 36px; background: url("../images/item06.png") no-repeat; }

.ddsmoothmenu ul li.raiz07 { width: 113px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz07 a { display:block; width: 113px; height: 36px; background: url("../images/item07.png") no-repeat; }

.ddsmoothmenu ul li.raiz08 { width: 113px; height: 36px; float: left; }

.ddsmoothmenu ul li.raiz08 a { display:block; width: 113px; height: 36px; background: url("../images/item08.png") no-repeat; }

.ddsmoothmenu ul li.raiz01 a.selected,.ddsmoothmenu ul li.raiz01 a:hover
{ background: url("../images/item01a.png") no-repeat; }

.ddsmoothmenu ul li.raiz02 a.selected,.ddsmoothmenu ul li.raiz02 a:hover
{ background: url("../images/item02a.png") no-repeat; }

.ddsmoothmenu ul li.raiz03 a.selected,.ddsmoothmenu ul li.raiz03 a:hover
{ background: url("../images/item03a.png") no-repeat; }

.ddsmoothmenu ul li.raiz04 a.selected,.ddsmoothmenu ul li.raiz04 a:hover
{ background: url("../images/item04a.png") no-repeat; }

.ddsmoothmenu ul li.raiz05 a.selected,.ddsmoothmenu ul li.raiz05 a:hover
{ background: url("../images/item05a.png") no-repeat; }

.ddsmoothmenu ul li.raiz06 a.selected,.ddsmoothmenu ul li.raiz06 a:hover
{ background: url("../images/item06a.png") no-repeat; }

.ddsmoothmenu ul li.raiz07 a.selected,.ddsmoothmenu ul li.raiz07 a:hover
{ background: url("../images/item07a.png") no-repeat; }

.ddsmoothmenu ul li.raiz08 a.selected,.ddsmoothmenu ul li.raiz08 a:hover
{ background: url("../images/item08a.png") no-repeat; }


.ddsmoothmenu ul li.submenu a { display: block; background: #06639C; text-decoration: none; font-size:.75em; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-align:left; padding: 7px 0 0 10px; width: 210px; line-height: 250%; color: #ffffff;  }

.ddsmoothmenu ul li.submenu02 a { display: block; background: #06639C; text-decoration: none; font-size:.75em; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-align:left; padding: 7px 0 0 10px; width: 270px; line-height: 250%; color: #ffffff;   }

.ddsmoothmenu ul li.submenu03 a { display: block; background: #06639C; text-decoration: none; font-size:.75em; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-align:left; padding: 7px 0 0 10px; width: 280px; line-height: 250%; color: #ffffff;   }

.ddsmoothmenu ul li.submenufinal{ display: block; width: 220px; height: 10px; background: url("../images/basesubmenu.png") no-repeat; }

.ddsmoothmenu ul li.submenufinal02{ display: block; width: 280px; height: 10px; background: url("../images/basesubmenu2.png") no-repeat; }

.ddsmoothmenu ul li.submenufinal03{ display: block; width: 280px; height: 10px; background: url("../images/basesubmenu2.png") no-repeat; }


.ddsmoothmenu ul li.submenu a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#06639C; 
color:#ffffff;
}

.ddsmoothmenu ul li.submenu02 a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#06639C; 
color:#ffffff;
}

.ddsmoothmenu ul li.submenu03 a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#06639C; 
color:#ffffff;
}

.ddsmoothmenu ul li.submenu a:link, .ddsmoothmenu ul li.submenu a:visited{
color:#ffffff;
}

.ddsmoothmenu ul li.submenu02 a:link, .ddsmoothmenu ul li.submenu a:visited{
color:#ffffff;
}

.ddsmoothmenu ul li.submenu03 a:link, .ddsmoothmenu ul li.submenu a:visited{
color:#ffffff;
}

.ddsmoothmenu ul li.submenu a:hover {
background:#00426C; /*background of menu items during onmouseover (hover state)*/
color:#ffffff;
}

.ddsmoothmenu ul li.submenu02 a:hover {
background:#00426C; /*background of menu items during onmouseover (hover state)*/
color:#ffffff;
}

.ddsmoothmenu ul li.submenu03 a:hover {
background:#00426C; /*background of menu items during onmouseover (hover state)*/
color:#ffffff;
}


* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/ display: inline-block; }


/*1st sub level menu*/
.ddsmoothmenu ul li ul{ position: absolute; left: 0; display: none; visibility: hidden; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li ul li{ display: list-item; float: none; }

* html .ddsmoothmenu { height: 1%;} /*Holly Hack for IE7 and below*/

.ddshadow { position: absolute; left: 0; top: 0; width: 0; height: 0; background:none;}
